.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 15px 0;
}
.imgContainer {
  width: 300px;
  height: 357px;
  position: relative;
  @media screen and (min-width: 480px) {
    width: 440px;
    height: 500px;
  }
  @media screen and (min-width: 768px) {
  }
}
.img {
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (min-width: 480px) {
    margin: 0;
    object-fit: contain;
    width: 440px;
    height: 500px;
  }
}
.price {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #333;
  padding: 7px 20px;
  height: 47px;
  font-family: "Benzin-ExtraBold", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-right: 1px;
  @media screen and (min-width: 480px) {
  }
}
.icon {
  width: 32px;
  height: 26px;
  @media screen and (min-width: 480px) {
  }
}
.details {
  width: 300px;
  height: 183px;
  border: 1px solid #333;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media screen and (min-width: 480px) {
    width: 440px;
    height: 240px;
    padding: 10px 0 10px 0;
    justify-content: flex-start;
    gap: 10px;
  }
}
.title {
  font-family: "Benzin-ExtraBold", sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--paragraph-text);
  padding-left: 18px;
  @media screen and (min-width: 480px) {
  }
}
.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: justify;
  color: var(--paragraph-text);
  padding-left: 9px;
  padding-right: 9px;
  @media screen and (min-width: 480px) {
    font-size: 20px;
  }
}
.btns {
  display: flex;
  width: 300px;
  @media screen and (min-width: 480px) {
    width: 440px;
  }
}
.select {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: justify;
  color: var(--paragraph-text);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 136px;
  background-color: var(--header-bg);
}
@media screen and (min-width: 480px) {
  .select {
    font-size: 20px;
    width: 220px;
  }
}
@media screen and (min-width: 768px) {
  .select {
    border-left: 1px solid #333;
  }
}
.btn {
  font-family: "Benzin-Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: var(--buttons-text);
  background-color: var(--bg-details);
  padding: 13px 15px;
}
@media screen and (min-width: 480px) {
  .btn {
    width: 220px;
    font-size: 20px;
  }
}
