.settings {
    position: relative;
}

.buttonSettings {
    background-color: inherit;
    border: none;
    outline: none;
    transition: all 400ms ease;
}

.buttonSettings:hover, .buttonSettings:active {
    transform: scale(1.1);
}

.iconSettings {
    width: 30px;
    height: 33px;
    fill: #5E6A8A;
}