.container {
  display: inline-block;
  max-width: fit-content;
  
  border-left-width: 2px;
  border-left-style: solid;
  /* border-left-color: ; */
  padding: 0 6px;


  @media only screen and (min-width: 768px) {
    max-width: 450px;
    padding: 0 18px;
    border-left-width: 4px;
  }

  @media only screen and (min-width: 960px) {
    max-width: 590px;
  }

  @media only screen and (min-width: 1920px) {
    max-width: 772px;
  }
}

.rightMargin {
  margin-right: 20px;
}

.firstTitle {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;

  @media only screen and (min-width: 960px) {
    font-size: 32px;
  }

  @media only screen and (min-width: 1920px) {
    font-size: 36px;
  }
}

.secondTitle {
  margin-bottom: 5px;
  font-family: Benzin-ExtraBold;
  font-size: 24px;
  text-transform: uppercase;

  @media only screen and (min-width: 960px) {
    line-height: 0.9;
    margin-bottom: 16px;
    font-size: 48px;
  }

  @media only screen and (min-width: 1920px) {
    font-size: 64px;
  }
}

.description {
  width: 95%;
  font-size: 14px;

  @media only screen and (min-width: 960px) {
    font-size: 20px;
    font-weight: 500;
  }
}
