.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin: 0 auto 18px;
  padding: 15px 20px;

  background-color: var(--buttons-text);
  color: var(--bg-details);
  border: 2px solid var(--bg-details);

  font-family: Benzin-Regular;
  font-family: "Benzin-Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  @media only screen and (min-width: 960px) {
    margin: 0;
  }
}

.icon {
  width: 27px;
  height: 18px;
  fill: var(--bg-details);
}
