.wrapper {
  position: fixed;

  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  background: rgba(38, 38, 38, 0.21);
}

.content {
  position: relative;
  width: 320px;

  background-color: var(--main-bg);

  z-index: 2;

  @media only screen and (min-width: 960px) {
    width: 610px;
  }

  @media only screen and (min-width: 1920px) {
    width: 892px;
  }
}

.closeButton {
  position: absolute;
  padding: 10px;
  width: 76px;
  height: 76px;
  top: -76px;
  right: 0;

  background-color: var(--main-bg);
  border: none;
  cursor: pointer;

  @media only screen and (min-width: 960px) {
    top: 0;
    right: -76px;
  }
}

.iconClose {
  width: 56px;
  height: 56px;
  fill: #333333;
}

.info {
  margin: 20px 0 10px;
  padding-left: 15px;
  width: fit-content;

  @media only screen and (min-width: 960px) {
    margin: 25px 0;
  }

  @media only screen and (min-width: 1920px) {
    margin: 40px 70px;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;

  color: var(--title-small);

  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;

  @media only screen and (min-width: 960px) {
    display: flex;

    flex-direction: row;
    justify-content: flex-start;
  }

  @media only screen and (min-width: 1920px) {
    justify-content: flex-end;
  }
}

.socials > p {
  font-family: "Benzin-Medium";
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  color: var(--black);
}

.socials > div {
  display: flex;
  gap: 10px;
}

.icon {
  width: 28px;
  height: 28px;
}

.facebook {
  fill: #157dc3;
}
