.about {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 37px;

  width: 320px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;

  margin-bottom: 45px;

  @media only screen and (min-width: 480px) {
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (min-width: 960px) {
    padding-top: 72px;
    margin-bottom: 100px;
  }

  @media only screen and (min-width: 960px) {
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;

    margin-bottom: 168px;
  }
}

.aboutCard {
  @media only screen and (min-width: 960px) {
    min-width: 450px;
  }

  @media only screen and (min-width: 1200px) {
    min-width: 572px;
  }

  @media only screen and (min-width: 1920px) {
    min-width: 495px;
  }
}

.photo {
  display: block;
  margin: 0 auto;
}

.aboutTitle {
  margin-top: 5px;

  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--title-small);

  @media only screen and (min-width: 960px) {
    margin-top: 8px;
    font-size: 36px;
  }
}

.aboutText {
  font-weight: 500;
  font-size: 16px;
  color: var(--title-small);

  @media only screen and (min-width: 960px) {
    font-size: 20px;
  }
}

.aboutInfo {
  /* padding-left: 5px;
    padding-right: 5px; */
}

.backgroundAbout {
  display: none;

  @media only screen and (min-width: 960px) {
    display: block;
    position: absolute;
    top: 0;
    left: -33%;

    width: 800px;
    height: 384px;

    background: url("/img/about/bg-960.png");
    background-position-x: center;
    z-index: -1;
  }
}
