.mainTitleContainer {
  border-left: 3px solid var(--paragraph-text);
  padding-left: 16px;
}

.mainTitle {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 6px;
}

.titleAccent {
  font-family: "Benzin-ExtraBold", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--accent-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 560px;
}

.mainTitleText {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

.communityIcon {
  width: 23px;
  height: 13px;
  fill: var(--buttons-text);
}

.btn {
  text-transform: uppercase;
  font-family: "Benzin-Medium", sans-serif;
  background-color: var(--paragraph-text);
  color: var(--buttons-text);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  transition: all 400ms ease;
  width: 274px;
  height: 43px;
  border: none;
  outline: none;
  position: relative;
  margin-bottom: 9px;
}

.btnText {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  position: relative;
  z-index: 3;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background-color: var(--accent-color);
  display: block;
  height: 43px;
  z-index: 1;
  transition: all 400ms ease;
}

.btn:hover::after,
.btn:focus::after {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .mainTitle {
    font-size: 20px;
  }

  .titleAccent {
    font-size: 36px;
  }

  .mainTitleText {
    font-size: 16px;
  }

  .communityIcon {
    width: 37px;
    height: 21px;
  }

  .btn {
    height: 51px;
    font-size: 20px;
  }

  .btn::after {
    height: 51px;
  }
}

@media screen and (min-width: 768px) {
  .mainTitleContainer {
    max-width: 580px;
    margin: 0 auto;
  }

  .mainTitle {
    font-size: 32px;
  }

  .titleFirst {
    padding-right: 190px;
  }

  .titleAccent {
    font-size: 48px;
  }

  .mainTitleText {
    font-size: 20px;
    padding-right: 90px;
  }

  .btn {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 960px) {
  .mainTitleContainer {
    max-width: 100%;
    margin-bottom: 63px;
  }

  .titleFirst {
    font-size: 36px;
    padding-right: 0;
  }

  .titleAccent {
    font-size: 64px;
  }

  .mainTitleText {
    max-width: 540px;
    padding-right: 0;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .mainTitleContainer {
    margin-left: 60px;
    margin-bottom: 0;
  }

  .titleAccent {
    max-width: 600px;
  }
}

@media screen and (min-width: 1920px) {
  .titleAccent {
    max-width: 900px;
  }
}

