@media screen and (min-width: 960px) {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 52px;
  }
}
.orderBtn {
  display: none;
}
@media screen and (min-width: 960px) {
  .orderBtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-family: "Benzin-Medium", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    background: #333;
    width: 311px;
    height: max-content;
    padding: 8px 18px 8px 10px;
    position: relative;
    right: -241px;
    bottom: -200px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1920px) {
  .orderBtn {
    right: -412px;
  }
}
.basketIcon {
  width: 40px;
  height: 40px;
}
