.imageContainer {
  width: 320px;
}

.imageCard {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.descriptionContainer {
  background-color: var(--paragraph-text);
  color: var(--cards-text);
  display: flex;
  align-items: center;
  margin-top: -1px;
  max-height: 101px;
}

.description {
  padding: 0 16px;
  text-align: left;
}

.description h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.description p {
  font-size: 14px;
  font-weight: 400;
}

.number {
  background-color: var(--accent-color);
  max-height: 101px;
  padding: 0 16px;
}

.number p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 96px;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 1.1;
}

@media screen and (min-width: 480px) {
  .cardsSection {
    padding: 0 20px;
  }

  .imageContainer {
    width: 480px;
  }

  .descriptionContainer,
  .number {
    max-height: 156px;
  }

  .number p {
    font-size: 128px;
  }

  .description {
    padding: 46x 0 46px 20px;
  }

  .description h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 9px;
  }

  .description p {
    font-size: 16px;
    font-weight: 500;
    max-width: 324px;
  }
}

@media screen and (min-width: 768px) {
  .cardItem {
    max-width: 541px;
  }

  .cardItem:first-of-type,
  .cardItem:last-of-type {
    margin-left: auto;
  }

  .description h3 {
    margin-bottom: 0;
  }

  .description p {
    font-size: 20px;
    font-weight: 500;
    max-width: 351px;
  }
}
