.titleTop {
  margin-top: 48px;
  margin-bottom: 20px;
}

.titleBottom {
  margin-top: 40px;
  margin-bottom: 15px;
}

.accentDiv {
  padding: 25px 0;
}

.cablesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.connectorsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.droneWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--accent-color);
}

.cables {
  max-width: 100%;
  height: auto;
}

.connectors {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 12px;
}

.drone {
  max-width: 100%;
  height: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin: 0 auto 75px;
  padding: 15px 20px;

  background-color: var(--bg-details);
  color: var(--buttons-text);
  font-family: Benzin-Regular;
  font-weight: 400;
  font-size: 15px;
  line-height: 0.9;
  text-transform: uppercase;
  text-align: center;
}

.icon {
  width: 23px;
  height: 13px;
  fill: var(--buttons-text);
}
/* 
@media only screen and (min-width: 320px) {
  .connectors {
    max-width: 320px;
  }
}

@media only screen and (min-width: 480px) {
  .connectors {
    max-width: 480px;
  }
}

@media only screen and (min-width: 768px) {
  .connectors {
    max-width: 768px;
  }
}

@media only screen and (min-width: 960px) {
  .connectors {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .connectors {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1201px) {
  .connectors {
    max-width: 1920px;
  }
} */
