.titleTop {
  margin-top: 48px;
  margin-bottom: 20px;

  @media only screen and (min-width: 960px) {
    margin-bottom: 80px;
  }
}

.titleBottom {
  margin-top: 40px;
  margin-bottom: 15px;

  @media only screen and (min-width: 1920px) {
    margin-top: 80px;
  }
}

.cablesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  height: 100%;

  @media only screen and (min-width: 960px) {
    flex-direction: column-reverse;
  }
}

.cables {
  max-width: 100%;
  height: auto;

  @media only screen and (min-width: 960px) {
    position: relative;
    top: -100px;
    max-width: 60%;
  }
}

.connectorsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;

  @media only screen and (min-width: 960px) {
    position: relative;
    top: -130px;
    margin-bottom: -50px;

    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    margin-left: 20px;
  }
}

.connectorsContainer {
  position: relative;
  width: 100%;
}

.connectors {
  max-width: 100%;
  height: auto;

  @media only screen and (min-width: 960px) {
    position: absolute;
    top: -120px;
    right: 0;
    min-width: 100%;
  }
}

.droneWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--accent-color);

  @media only screen and (min-width: 960px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  @media only screen and (min-width: 1920px) {
    width: 1920px;
    padding-left: 320px;
    padding-right: 320px;

    background-color: transparent;
  }
}

.accentDiv {
  width: 320px;
  padding: 25px 10px;
  margin: 0 auto;

  @media only screen and (min-width: 960px) {
    width: auto;
  }

  @media only screen and (min-width: 1920px) {
    background-color: transparent;
  }
}

.outerWrapper {
  @media only screen and (min-width: 1920px) {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 100%;
    height: 400px;
    overflow: visible;

    background-color: var(--accent-color);
  }
}

.drone {
  max-width: 100%;
  height: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin: 0 auto 75px;
  padding: 15px 20px;
  width: fit-content;

  background-color: var(--bg-details);
  color: var(--buttons-text);
  font-family: Benzin-Regular;
  font-weight: 400;
  font-size: 15px;
  line-height: 0.9;
  text-transform: uppercase;
  text-align: center;
}

.icon {
  width: 23px;
  height: 13px;
  fill: var(--buttons-text);
}

.centralBlock {
  margin: 0 auto;
  @media only screen and (min-width: 1920px) {
    width: 1920px;
    padding-left: 350px;
    padding-right: 350px;
    margin-bottom: 50px;
  }
}
