.titleTop {
  margin-top: 48px;
  margin-bottom: 36px;
}

.wrapper {
  position: relative;
}

.backText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Benzin-ExtraBold", sans-serif;
  font-weight: 400;
  font-size: 32px;

  line-height: 0;
  text-transform: uppercase;
  text-align: center;
  color: var(--bg-details);
  opacity: 0.1;

  
}

.about {
  display: flex;
  flex-direction: column;
  gap: 37px;

  margin-bottom: 45px;

  
}

.aboutCard {
  width: 320px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;

 
}

.photo {
  display: block;
  margin: 0 auto 5px;
}

.aboutTitle {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--title-small);
}

.aboutText {
  font-weight: 500;
  font-size: 14px;
  color: var(--title-small);
}

.aboutInfo {
  /* padding-left: 7px;
  padding-right: 7px; */
}

.family {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 235px;
  height: 235px;
  background: url("/img/about/bg-320.png");
  /* background-color: red; */
  z-index: -1;
}

.familyImage {
  width: 100%;
  height: auto;
  margin-top: auto;
}

/* .wrapper {
  width: 320px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;

  outline: 1px solid green;
} */

.canI {
  margin-bottom: 62px;
}

.accent {
  background-color: var(--accent-color);
  padding: 18px 5px 29px;
}

.mapWrapper {
  position: relative;
  max-width: 320px;
  height: 452px;
}

.mapWrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: var(--accent-color);
  z-index: -1;
}

.titleBottom {
  margin: 50px 5px 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin: 0 auto 18px;
  padding: 15px 20px;
  width: fit-content;

  background-color: var(--bg-details);
  color: var(--buttons-text);
  font-family: Benzin-Regular;
  font-family: "Benzin-Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.icon {
  width: 27px;
  height: 18px;
  fill: var(--buttons-text);
}

.button.secondary {
  margin-bottom: 26px;
  background-color: var(--buttons-text);
  color: var(--bg-details);
  border: 2px solid var(--bg-details);
}

.icon.secondary {
  fill: var(--bg-details);
}
