@import 'modern-normalize/modern-normalize.css';

:root {
  --header-bg: #ffffff;
  --main-bg: #ffffff;
  --bg-details: #333333;
  --title-small: #333333;
  --paragraph-text: #333333;
  --buttons-text: #ffffff;
  --accent-color: #5169ff;
}
[data-theme='dark'] {
  --header-bg: #0f1022;
  /* --main-bg: url('../../public/img/homePage/darkMood-bg.jpg'); */
  --bg-details: #ffffff;
  --title-small: #ffffff;
  --title-accent: #5169ff;
  --paragraph-text: #ffffff;
  --buttons-text: #0f1022;
  --accent-color: #5169ff;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../../public/fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Semibold";
  src: url("../../public/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../public/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("../../public/fonts/Montserrat-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Benzin-Regular";
  src: url("../../public/fonts/Benzin-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Benzin-Medium";
  src: url("../../public/fonts/Benzin-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Benzin-Bold";
  src: url("../../public/fonts/Benzin-Bold.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Benzin-ExtraBold";
  src: url("../../public/fonts/Benzin-ExtraBold.ttf");
  font-weight: 400;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 12px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-size: 16px;
  background: var(--main-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--paragraph-text);
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
  body {
    min-height: 1024px;
  }
}

@media screen and (max-width: 767px) {
  body {
    min-height: 100vh;
  }
}
