.notFoundPageContainer {
  padding: 0 10px 62px 10px;
}

.imageContainer {
  min-width: 100%;
  display: flex;
  justify-content: center;
  margin: 51px 0;
}

.title {
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: "Benzin-ExtraBold", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--accent-color);
  max-width: 293px;
  margin: 0 auto 20px auto;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--paragraph-text);
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  width: 100%;
  margin: 20px auto 0 auto;
}
.buttonSupport,
.linkHome {
  text-transform: uppercase;
  font-family: "Benzin-Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  transition: all 400ms ease;
}

.linkHome {
  border: 2px solid var(--paragraph-text);
  color: var(--paragraph-text);
  padding: 8px;
}

.iconSupportBtn {
  width: 27px;
  height: 18px;
  fill: var(--buttons-text);
}

.buttonSupport {
  background-color: var(--paragraph-text);
  color: var(--buttons-text);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 10px;
}
.linkHome:hover,
.linkHome:focus,
.buttonSupport:hover,
.buttonSupport:focus {
  background-color: var(--accent-color);
  color: white;
}

.linkHome:hover,
.linkHome:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .notFoundPageContainer {
    padding: 0 21px 51px 21px;
  }
  .imageContainer {
    margin: 56px 0;
  }
  .title {
    font-size: 36px;
    max-width: 450px;
  }
  .buttonsContainer {
    flex-direction: row-reverse;
    column-gap: 12.75px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .notFoundPageContainer {
    padding: 0 19px 46px 19px;
  }
  .title {
    font-size: 48px;
  }
  .text {
    font-size: 20px;
    max-width: 729px;
    padding: 0 40px;
    margin: 0 auto;
  }
  .buttonSupport,
  .linkHome {
    font-size: 20px;
  }
  .buttonSupport {
    padding: 15px 20px;
  }
  .linkHome {
    padding: 13px 18px;
  }
}

@media screen and (min-width: 960px) {
  .notFoundPageContainer {
    padding: 0 18px 57px 18px;
  }
  .title {
    font-size: 64px;
    max-width: 650px;
  }
}
@media screen and (min-width: 1200px) {
  .notFoundPageContainer {
    padding: 0 68px 141px 68px;
  }
  .title {
    max-width: 100%;
  }
}
