.container {
  margin: 0 auto;
  @media only screen and (min-width: 768px) {
    max-width: 730px;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 906px;
  }
}

.title {
  margin-bottom: 0;
  color: var(--accent-color);
  text-align: center;
  font-family: Benzin-ExtraBold;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;

  @media only screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.13;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 64px;
    line-height: 1;
  }
}

.description {
  text-align: center;
  font-size: 14px;

  @media only screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 130%;
  }
}

.line {
  margin: 10px auto;
  width: 78%;
  border-top: 2px solid var(--paragraph-text);

  @media only screen and (min-width: 768px) {
    margin: 16px auto;
    border-top: 4px solid var(--paragraph-text);
  }
}
