.titleTop {
  margin-top: 48px;
  margin-bottom: 20px;

  @media only screen and (min-width: 960px) {
    margin-bottom: 80px;
  }
}

.titleBottom {
  margin: 40px 5px 15px;

  @media only screen and (min-width: 1920px) {
    margin-top: 80px;
  }
}

.centralBlock {
  margin: 0 auto;

  @media only screen and (min-width: 1920px) {
    width: 1920px;
    padding-left: 350px;
    padding-right: 350px;
    margin-bottom: 50px;
  }
}

.cablesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 20px;
  height: 100%;

  @media only screen and (min-width: 768px) {
    flex-direction: column-reverse;
  }

  @media only screen and (min-width: 960px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
  }
}

.cables {
  max-width: 100%;
  height: auto;
  margin: 0 auto;

  @media only screen and (min-width: 960px) {
    /* flex-direction: column-reverse; */
  }
}

.connectorsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;

  @media only screen and (min-width: 768px) {
    flex-direction: column-reverse;
  }

  @media only screen and (min-width: 960px) {
    flex-direction: row-reverse;
    margin-bottom: -200px;
  }
}

.connectors {
  max-width: 100%;
  height: auto;

  @media only screen and (min-width: 768px) {
    align-self: flex-end;
    position: relative;
    top: -60px;
    margin-bottom: -70px;
  }

  @media only screen and (min-width: 960px) {
    position: relative;
    top: -120px;
    right: 0;
    margin-bottom: 0px;
  }
}

.wrapper {
  padding-left: 10px;
}

.droneWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--accent-color);

  @media only screen and (min-width: 960px) {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  @media only screen and (min-width: 1920px) {
    width: 1920px;
    padding-left: 320px;
    padding-right: 320px;

    background-color: transparent;
  }
}

.accentDiv {
  width: 320px;
  padding: 25px 10px;
  margin: 0 auto;

  @media only screen and (min-width: 960px) {
    width: 100%;
  }

  @media only screen and (min-width: 1920px) {
    background-color: transparent;
  }
}

.outerWrapper {
  @media only screen and (min-width: 1920px) {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 100%;
    height: 400px;
    overflow: visible;

    background-color: var(--accent-color);
  }
}

.drone {
  display: block;
  width: 100%;
  height: auto;

  @media only screen and (min-width: 480px) {
    width: 80%;
    margin: 0 auto;
  }

  @media only screen and (min-width: 960px) {
    width: 100%;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin: 0 auto 75px;
  padding: 15px 20px;
  width: fit-content;

  background-color: var(--bg-details);
  color: var(--buttons-text);
  font-family: Benzin-Regular;
  font-weight: 400;
  font-size: 15px;
  line-height: 0.9;
  text-transform: uppercase;
  text-align: center;
}

.icon {
  width: 23px;
  height: 13px;
  fill: var(--buttons-text);
}
