.header {
  background-color: var(--header-bg);
  box-shadow: 0px 4px 139.3px 0px rgba(0, 0, 0, 0.11);
  width: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  padding-left: 48px;
  padding-right: 29px;
}

.buttonsBox {
  display: none;
}

@media screen and (min-width: 480px) {
  .headerContainer {
    padding-left: 64px;
    padding-right: 38px;
  }
}

@media screen and (min-width: 768px) {
  .headerContainer {
    padding-left: 55px;
    padding-right: 35px;
  }
}

@media screen and (min-width: 960px) {
  .headerContainer {
    padding-left: 70px;
    padding-right: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .headerContainer {
    max-width: 1440px;
    margin: 0 auto;
  }

  .buttonsBox {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}
