.vacanciesModalFormContainer {
  background-color: var(--accent-color);
  padding: 30px;
  width: 272px;
  height: 300px;
  margin: 0 auto;
}

.vacanciesModalForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 20px;
}

.vacModalInput {
  padding: 20px;
  width: 214px;
  height: 52px;
  background: var(--main-bg);
  border: none;

  font-family: "Benzin-Medium", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.vacModalFormText {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13px;
  color: var(--main-bg);
}
