/* Footer.module.css */
.footer {
  background-color: var(--bg-details);
  color: var(--main-bg);
  padding: 18px 38px;
}

.footerTitle {
  font-family: "Benzin-Bold", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .footer {
    padding: 18px 14px 40px 14px;
  }
}
