.container {
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 960px) {
  .sectionPrintAll {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
    height: 605px;
    max-width: 920px;
    margin: 117px auto 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
    .container {
      width: 1200px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .sectionPrintAll {
        margin: 0 auto;
    }
  }
  
  @media only screen and (min-width: 1920px) {
      .container {
        width: 1920px;
      }
    }
