.hero_container {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}
@media screen and (min-width: 480px) {
  .hero_container {
    align-items: center;
  }
}

.hero_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 440px;
}
@media screen and (min-width: 480px) {
  .hero_img {
    width: 440px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .hero_img {
    width: 728px;
    height: 670px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 960px) {
  .hero_img {
    width: 755px;
    height: 670px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1920px) {
  .hero_img {
    width: 833px;
    height: 744px;
  }
}
.img {
  object-fit: cover;
  width: 300px;
  height: 440px;
}
@media screen and (min-width: 480px) {
  .img {
    width: 440px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .img {
    width: 728px;
    height: 670px;
  }
}
@media screen and (min-width: 960px) {
  .img {
    width: 755px;
    height: 670px;
  }
}
@media screen and (min-width: 1920px) {
  .img {
    width: 833px;
    height: 744px;
  }
}
.details {
  border-left: 4px solid black;
  padding-left: 8px;
}
@media screen and (min-width: 480px) {
  .details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 480px) {
  .details {
    padding-left: 18px;
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .title {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1920px) {
  .title {
    text-align: start;
  }
}
.subtitle {
  display: block;
  font-family: "Benzin-ExtraBold", sans-serif;
  font-size: 24px;
  color: #5169ff;
}
@media screen and (min-width: 480px) {
  .subtitle {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 64px;
  }
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #333;
}
@media screen and (min-width: 480px) {
  .text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .text {
    text-align: start;
  }
}

.btn {
  padding: 13px 20px;
  background: #333;
  height: 44px;
  font-family: "Benzin-Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .btn {
    font-size: 20px;
    padding: 13px 20px 13px 20px;
    width: max-content;
    height: max-content;
  }
}
.icon {
  fill: #fff;
  width: 18px;
  height: 14px;
  margin-right: 1px;
  @media screen and (min-width: 480px) {
    width: 27px;
    height: 21px;
  }
}

@media (min-width: 768px) {
  .hero_img {
    width: 728px;
    height: 670px;
  }
}
@media (min-width: 1200px) {
  .hero_container {
    flex-direction: row;
    text-align: center;
  }
}
